{% extends "info.html" %}
{% load static %}
{% include "includes/header.html" %}

{% block main_content %}
<body>

    <div class="container">

        <h1>Getting Started</h1>
        <h2>Our Goal</h2>
        <p>
        <strong>FUT Tracker</strong> aims to help bring transparency to pack weight. It allows users to compare odds across different player picks and 
        packs as well offer the chance to view all players that they pack across the game cycle.
        Some SBCs we know are not always worth the cost, FUT Tracker lets you 'try before you buy'!
        </p>
        
        <img class=img1></img>
        <h2>How It Works</h2>
        <p>
            First create an account on <a href="fut-tracker.co.uk">fut-tracker.co.uk</a> so that you can link your email to our Chrome extension<br>
            To get the most out of FUT Tracker we recommend downloading our <a href="https://chromewebstore.google.com/detail/fut-tracker/nagdddpmghinfnihkhbpoegopccbdhck" >FUT Tracker Chrome extension</a><br>
            This is the tool that will actually track your pack and player pick data. After downloading the extension, click the extension icon
            and enter the email you used to sign up.<br>

        </p>
        <p>
            Now start opening packs on the FC25 webapp and view your results live on our <a href="{% url "my_packs" %}">My Packs</a> section
        </p>
        
        <h2> Common questions </h2>
        <p>
            <strong>Do I need to link it to my Ultimate Team account?</strong> <br>
            No! We will never ask you for your ultimate team login details, the extension works independently in the background of the web app.
        </p>
        <p>
            <strong>Why do I need to sign up, can't I just view the website with making an account?</strong><br>
            You do not need to sign up, you can view the home dashboard and see general stats there. However, an account is needed to 
            sync with the extension so that you can track your individual stats
        </p>
 
    </div>

</body>
{% endblock %}