{% extends "base.html" %}
{% load static %}
{% include "includes/header.html" %}

{% block widgets %}
<div class="widgets-container">
    
    <div class="widget">
        <div class="widget-content">
            <h3 class="widget-title">Total Packs Opened:</h3>
            <p class="widget-stat"> {{ total_packs }}</p>
        </div>
        <img class="widget-icon" src="{% static '../static/img/pack_icon.png' %}" alt="Pack Icon">
    </div>

        <div class="widget">
        <div class="widget-content">
            <h3 class="widget-title">Total Picks Opened:</h3>
            <p class="widget-stat">{{ total_picks }}</p>
        </div>
        <img class="widget-icon" src="{% static '../static/img/player_pick_icon.png' %}" alt="Pack Icon">
    </div>

        <div class="widget">
        <div class="widget-content">
            <h3 class="widget-title">Total TOTWs Packed:</h3>
            <p class="widget-stat"> {{ total_totws }} </p>
        </div>
        <img class="widget-icon" src="{% static '../static/img/TOTW.png' %}" alt="Pack Icon">
    </div>

        <div class="widget">
        <div class="widget-content">
            <h3 class="widget-title">Total Promos Packed:</h3>
            <p class="widget-stat">{{ total_promos }}</p>
        </div>
        <img class="widget-icon" src="{% static '../static/img/world_tour.png' %}" alt="Pack Icon">
    </div>

</div>

{% endblock %}


{% block main_chart %}
<div class="bootstrap-styled-section">
    <div class="chart_widget_container">
        <div id="pack-chart-container" class="chart-container">
            <h3 class="chart-title">Pack Distributions</h3>
            <div class="chart-inputs-container">
                <label for="pack-select">Select Pack:</label>
                <select class="pack-select">
                    <option value="">Select a Pack</option>
                    {% for pack in pack_names %}
                        <option value="{{ pack }}">{{ pack }}</option>
                    {% endfor %}
                </select>


                <label for="time-filter">Time Filter:</label>
                <select class="time-filter">
                    <option value="all_time">All Time</option>
                    <option value="1_week">Last Week</option>
                    <option value="since_friday">Since Friday</option>
                </select>

                <button id="pack-chart-button" class="plot-button">Plot</button> 
            </div>

            <!-- Chart.js chart -->
            <canvas class="ratings-chart" id="pack-ratings-chart"></canvas>
        </div>
        <div class="widget-container">
            <h3>Summary Stats</h3>
            <div id="pick-widget-container" class="widget-stat-container">
                <div class="pack-count">Total Packs: <strong>{{ total_packs_count }} </strong></div>
                <div class="promo-count">Promos: <strong>{{ promo_count }} </strong></div>
                <div class="totw-count">TOTWs: <strong>{{ totw_count }} </strong></div>
                <div class="hero-count">Base Heroes: <strong>{{ hero_count }} </strong></div>
                <div class="icon-count">Base Icons: <strong>{{ icon_count }}</strong></div>
                <div class="avg-value">Average Value: <strong> {{ average_pack_value }}</strong></div>
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-styled-section">
        <div class="chart_widget_container">
            <div id="pick-chart-container" class="chart-container">
                <h3 class="chart-title">Player Picks Distributions</h3>
                <div class="chart-inputs-container">
                    <label for="pack-select">Select Pack:</label>
                    <select name="pack" class="pack-select">
                        <option value="">Select a Pack</option>
                        {% for pick in pick_names %}
                            <option value="{{ pick }}">{{ pick }}</option>
                        {% endfor %}
                    </select>


                    <label for="time-filter">Time Filter:</label>
                    <select name="time" class="time-filter">
                        <option value="all_time">All Time</option>
                        <option value="1_week">Last Week</option>
                        <option value="since_friday">Since Friday</option>
                    </select>

                    <button id="pick-chart-button" class="plot-button">Plot</button> 
                </div>

                <!-- Chart.js chart -->
                <canvas class="ratings-chart" id="pick-ratings-chart"></canvas>
            </div>
            <div id="pick-widget-container" class="widget-container">
                <h3>Summary Stats</h3>
                <div class="widget-stat-container">
                    <div class="pack-count">Total Packs: <strong>{{ total_packs_count }} </strong></div>
                    <div class="promo-count">Promos: <strong>{{ promo_count }} </strong></div>
                    <div class="totw-count">TOTWs: <strong>{{ totw_count }} </strong></div>
                    <div class="hero-count">Base Heroes: <strong>{{ hero_count }} </strong></div>
                    <div class="icon-count">Base Icons: <strong>{{ icon_count }}</strong></div>
                    <div class="avg-value">Average Value: <strong> {{ average_pack_value }}</strong></div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

