{% extends "users_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block inputs_container %}
{{ form.non_field_errors }}
        <div class="uname_container">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}       
        </div>
        <div class="pwd_container">
            {{ form.password.label_tag }} 
            {{ form.password }}     
            {{ form.password.errors }}  
        <div class="remember_me"> 
            <input type="checkbox" checked="checked" name="remember"> Remember me  
        </div>  
        </div>
        
{% endblock %}

{% block button_container %}
        <button class="login_btn" type="submit">Log In</button>
{% endblock %}

{% block user_links_container %}
        <a href="#">Forgot Password</a>
        <a href="{% url "sign_up" %}">Not a user? Create Account</a>
{% endblock %}
