{% extends "users_base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/create_account.css' %}">
{% endblock %}{% block title %}User Login{% endblock %}

{% block form_header %}Sign up to join the Fut Tracker community{% endblock %}

{% block inputs_container %}
    <div class="uname_container">
        <div class="label_container">
            <label for="id_username"><b>Email:</b></label>
            <div class="tooltip"> (?)
                <span class="tooltiptext"> {{ username_tooltip }} </span>
            </div>
        </div>
        <input type="text" id="id_username" name="username" placeholder="Enter Username" required>
    </div>

    <div class="pwd_container">
        <div class="label_container">
            <label for="id_password1"><b>Password:</b></label>
            <div class="tooltip"> (?)
                <span class="tooltiptext">{{ password1_tooltip }} </span>
            </div>
        </div>    
        <input type="password" id="id_password1" name="password1" placeholder="Enter Password" required>
    </div>
    <div class="confirm_pwd_container">
        <label for="id_password2"><b>Confirm Password:</b></label>
        <input type="password" id="id_password2" name="password2" placeholder="Confirm Password" required>
    </div>
 
{% endblock %}

{% block button_container %}
    <button type="submit" class="sign_up_btn">Sign Up</button>
{% endblock %}

