label {
    align-self: flex-start;
    font-weight: bold;
}

.inputs_container input{
    margin-bottom: 5px;
}

.sign_up_btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 145px;
    margin-bottom: 10px;
}

.sign_up_btn:hover {
    background-color: #0056b3;
}