{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "includes/header.html" %}

    <div class="centered-container">
        <h2 class="form_header">{{ form_message }}</h2>
    </div>

    <div class="form-wrapper">

        <form method="post">
            {% csrf_token %}
            <div class="imgcontainer">
                <img src="../../static/img/logo.png" alt="Avatar" class="avatar">
            </div>
            <div class="inputs_container">
                {% block inputs_container %}
                {% endblock %}
            </div>
            <div class="button_container">
                {% block button_container %}
                {% endblock %}
            </div>
            <div class="user_links_container">
                {% block user_links_container %}
                {% endblock %}
            </div>
        </form>
    </div>
 
</body>
</html>
